
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <base th:href="${#request.getContextPath()}+'/'"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://v3.bootcss.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://v3.bootcss.com/examples/signin/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="https://v3.bootcss.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">

    <form class="form-signin" onclick="return vip()">
        <h2 class="form-signin-heading">登录</h2>
        <label for="inputPhonenum" class="sr-only">手机号</label>
        <input type="text" id="inputPhonenum" class="form-control" placeholder="请输入手机号" required autofocus>
        <label for="verifyCode" class="sr-only">Password</label>
        <input type="text" id="verifyCode" class="form-control" placeholder="请输入验证码" required>
        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="sendmsg()">发送验证码</button>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="login()">登录</button>
    </form>

</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://v3.bootcss.com/assets/js/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript" src="js/jquery-3.1.1.js"></script>
<script type="text/javascript">
    // function vip(){
    //     var phone=document.getElementById("inputPhonenum").value;
    //
    //     var code=document.getElementById("verifyCode").value;
    //     if (phone =="") {
    //         alert("手机号不能为空");
    //         return false;
    //     }
    //
    //     if (code =="") {
    //         alert("验证码不能为空");
    //         return false;
    //     }
    //     //判断手机格式
    //     if (!/^1[356789]\d{9}$/.test(phone)) {
    //         alert("手机格式错误");
    //         return false;
    //     }
    //
    //     if (!/^[0-9]{6}$/.test(code)) {
    //         alert("验证码格式错误");
    //         return false;
    //     }
    //     return true;
    // }
</script>
<script type="text/javascript">
    function login() {
        var phonenum = $("#inputPhonenum").val();
        var verifyCode = $("#verifyCode").val();

        $.post("login",
            {
                phonenum:phonenum,
                verifyCode:verifyCode
            },
            function (data) {
                if (data.code == 2) {
                    window.location.href="send/templates/logins.html";
                } else {
                    alert(data.data);
                }
            })
    }
    function sendmsg() {
        var phonenum = $("#inputPhonenum").val();
        $.post("sendsmg",{
            phonenum:phonenum,
        },function (data) {
            if (data.code==0) {
                alert(data.data);
            }
        })
    }
</script>

</body>
</html>
